*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    background-color: whitesmoke;
    margin: 0 auto;
}
.app-title{
    color: grey;
    text-align: center;
}
.form-intro h3{
    color: grey;
}
label{display: block}