@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
.container{
    width: 80%;
    background-color: whitesmoke;
    margin: 0 auto;
}
.app-title{
    padding: 10%;
    color: grey;
    text-align: center;
}
.form-intro h3{
    margin: 0 auto;
    color: grey;
}
label{
    display: block;
    color: darkslategray;
}
.form-wrapper{
    width: 90%;
    margin: 0 auto;
}
.track-button{
    margin: 20px 0;
    padding: 3px 5px;
    border: none;
    border-radius: 3px;
    background-color: crimson;
    color: whitesmoke;
}
input{
    width: 100%;
}
.form-elements{
    margin: 5% auto;
}
.track-info{
    text-align: justify;
}